The system eye watches everyday,
controlling every movement,
can smell our fear, hears our suffering,
It touches us with iron fingers
and eats us when we are a bother.
It spares our life if we donât think by ourselves.

Alone, death always walks alone.
I always walk alone.

Every night scans our brains, looking for traitors,
crushed the rebellion, killing the insurgents.
A quiet place for the powerful.

Tearing with dark tranquillity.
The system requires our souls.
They threw us to garbage, they would recycle us.

Through the limbo, until here we came.
Come with us to hell...

