Stop, don't let it drop
And stop your sop
Turn back the
Use of superego

Run, see what you've done
Noisy it began
Cut back the
Access to your ID oh...

Put inside the limits that are
Ruling your life
Instead of fighting against
Care about these thoughts

Order and structure from the start,
Rule the strife
Neat with what's been dispensed
It must be sensed

A created truth
Old social rules
A collective mass
The way

Authority brew
Made all for you
I must accept it
Anyway

Put inside the limits that are
Ruling your life
Instead of fighting against
Care about these thoughts

Order and structure from the start,
Rule the strife
Neat with what's been dispensed
It's for your own good

I believe in, in this reality
Materialism is my melancholic bliss

